@model SoundHound.Models.Song
@{
    ViewBag.Title = "EditSong";
}

@*Creates a form where you can edit a song*@
<div class="jumbotron">
    <h1>Edit Song</h1>
    @using (var form = Html.BeginForm("ChangeSong", "Home"))
    {
        @Html.HiddenFor(x => x.ID)
        <p>Song: @Html.TextBoxFor(x => x.SongTitle)</p>
        <br />
        <p>Artist: @Html.TextBoxFor(x => x.Artist)</p>
        <br />
        <p>Key: @Html.TextBoxFor(x => x.SongKey)</p>
        <br />
        <p>BPM: @Html.TextBoxFor(x => x.BPM)</p>
        <br />
        <input type="submit" value="Update Song" name="submitSong"/>

    }
</div>

